RewriteEngine On


# --- 1. Remove .php extension ---
# If "file.php" exists, rewrite "/file" → "/file.php"
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L,QSA]

# --- 2. If not a real file or directory, send to 404 page ---
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /_hidden/err404.php [L]

# Because of InfinityFree with ?i=1.. we do this.
RewriteCond %{QUERY_STRING} ^(.)i=[^&]+(.)$ [NC]
RewriteRule ^(.*)$ /$1?%1%2 [R=301,L]